.all-results-title-box {
  margin: 0 auto;
  width: 22rem;
  border-bottom: 4px solid var(--color-secondary);
}

.all-results-title {
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
}

.all-results-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.result {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 22rem;
  border: 1px solid var(--color-primary);
}

.small-card {
  width: 3rem;
  height: 4rem;
  font-size: 1rem;
}